{% extends "base.html" %}

{% block head %}
<script>
	document.addEventListener("DOMContentLoaded", (event) => {
	  document.getElementById("registerForm").addEventListener("submit", function (e) {
		e.preventDefault(); // Cancel the default action
		submitRegisterForm();
	  });
	});
</script>
{% endblock %}

{% block content %}
	<div class="limiter">

		<div class="container-login100" style="background-image: url({{ url_for('static', path='images/bg-01.jpg') }})">

				<button class="login100-form-btn custom-btn-container" type="button"
				onclick="location.href='{{ url_for('get_index_template') }}';">
					<- Back
				</button>

			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

				<form id="registerForm" action="register/" class="login100-form validate-form flex-sb flex-w" method="POST">
					<span class="login100-form-title p-b-53">
						New User Registration
					</span>

					<div class="build-in-alerts" id="validationAlert"></div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email is required">
						<input class="input100" type="text" name="email" id="email">
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Password
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="text" name="password" id="pass-word">
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" id="user-name">
						<span class="focus-input100"></span>
					</div>

					<button class="download-btn login100-form-btn" type="submit">
						Register
					</button>

					<div class="result-message" id="result"></div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect3"></div>


<script>
 function submitRegisterForm() {
	 let formElement = document.getElementById('registerForm');
	 let data = new FormData(formElement);

	 document.getElementById('validationAlert').innerHTML = '';
	 document.getElementById('result').innerHTML = '';

	 fetch('register', {
		   method: 'POST',
		   body: data,
		 })
		 .then(response => response.json())
		 .then(function(response){
		 	let alert = '';
		 	let message;

		 	if (Object.prototype.toString.call(response.detail) === '[object Array]') {
				for (let i of response.detail) {
					message = '* ' + i.loc[1] + ' - ' + i.msg + '!' + '<br>';
					alert = alert + message;
		 		}
		 		document.getElementById('validationAlert').innerHTML = alert;
			} else if (response.user_exists_msg) {
				document.getElementById('validationAlert').innerHTML = response.user_exists_msg;
			} else {
				message = `User ${response.username} was created!<br><br>` +
				`User ID:  ${response.id}<br>` +
				`User UUID token:  ${response.uuid_token}<br>` +
				`Email:  ${response.email}<br>` +
				`Username:  ${response.username}`;

				document.getElementById('result').innerHTML = message;
				document.getElementById("registerForm").reset();
			}
		 })
		 .catch(error => {
		 	console.log(error);
		 })
 }
</script>

{% endblock %}